<a href="https://colab.research.google.com/github/arijitd60/arijitd60/blob/main/feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Feature Engineering
Load the `adult` dataset. Preprocess the dataset by removing missing values, encoding categorical attributes, normalizing/scaling the features, and reducing the dimensionality of the dataset. Split the dataset into training and test sets. Train and test a support vector machine model using scikit-learn. Evaluate the impact of the feature engineering step on the effectiveness and efficiency of the model.

Importing of Modules

In [47]:
import numpy as np
import pandas as pd
import sklearn.model_selection
import sklearn.svm
import sklearn.metrics
import sklearn.preprocessing
import plotly.express as py

Loading the Dataset

In [48]:
df = pd.read_csv("adult.csv")
print(df.shape)
df.head()

(32561, 15)

   age          workclass  fnlwgt  ... hours-per-week  native-country  target
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

Removing Missing Values

In [41]:
#print(df.columns)
#df["workclass"].value_counts()
df = df.replace(' ?',np.NaN)
df = df.dropna()
df.shape

(30162, 15)

Splitting the Data into Training and Test sets

In [49]:
x = df.drop(["target"], axis=1)
y = df["target"]
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y)
print("df = ", df.shape)
print("x_train = ", x_train.shape)
print("x_test = ", x_test.shape)
print("y_train = ", y_train.shape)
print("y_test = ", y_test.shape)

df =  (32561, 15)
x_train =  (24420, 14)
x_test =  (8141, 14)
y_train =  (24420,)
y_test =  (8141,)

One-Hot Encoding

In [50]:
enc = sklearn.preprocessing.OneHotEncoder(handle_unknown="ignore")
enc.fit(x_train)

x_train = enc.transform(x_train)

x_test = enc.transform(x_test)

print("x_train:", x_train.shape)
print("x_test:", x_test.shape)

x_train: (24420, 18139)
x_test: (8141, 18139)

Standardization

In [44]:
scaler = sklearn.preprocessing.StandardScaler(with_mean=False)
scaler.fit(x_train)

x_train= scaler.transform(x_train)

x_test= scaler.transform(x_test)

print("x_train:", x_train.shape)
print("x_test:", x_test.shape)

x_train: (22621, 16882)
x_test: (7541, 16882)

Training a model

In [51]:
model = sklearn.svm.SVC()
model.fit(x_train, y_train);

Test the Model

In [52]:
y_predicted = model.predict(x_test)
accuracy = sklearn.metrics.accuracy_score(y_test, y_predicted)
accuracy

0.8688121852352291