<a href="https://colab.research.google.com/github/arijitd60/arijitd60/blob/main/Linear_Regression_for_CarPrice_Element1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Linear Regression for CarPrice - Element1

Import Modules

In [12]:
import pandas as pd
import sklearn.model_selection
import sklearn.linear_model
import sklearn.metrics

Loading the Dataset

In [9]:
df = pd.read_csv("CarPrice.csv")
df = df.set_index("car_ID")
df.head()

        symboling  wheelbase  carlength  ...  citympg  highwaympg    price
car_ID                                   ...
1               3       88.6      168.8  ...       21          27  13495.0
2               3       88.6      168.8  ...       21          27  16500.0
3               1       94.5      171.2  ...       19          26  16500.0
4               2       99.8      176.6  ...       24          30  13950.0
5               2       99.4      176.6  ...       18          22  17450.0

[5 rows x 15 columns]

Splitting train and test sets

In [10]:
x = df.drop(["price"], axis=1)
y = df["price"]
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size=0.2)
print("df = ", df.shape)
print("x_train = ", x_train.shape)
print("x_test = ", x_test.shape)
print("y_train = ", y_train.shape)
print("y_test = ", y_test.shape)

df =  (205, 15)
x_train =  (164, 14)
x_test =  (41, 14)
y_train =  (164,)
y_test =  (41,)

Training a Linear Regression Model

In [11]:
model = sklearn.linear_model.LinearRegression()
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Testing our Trained Linear Regression model

In [13]:
y_predicted = model.predict(x_test)
mse = sklearn.metrics.mean_squared_error(y_test, y_predicted)
mse

9598911.042548217

Store the Predictions

In [17]:
y_predicted = model.predict(x)
df["Predicted Prices"] = y_predicted
df.head()

        symboling  wheelbase  carlength  ...  highwaympg    price  Predicted Prices
car_ID                                   ...
1               3       88.6      168.8  ...          27  13495.0      12931.296639
2               3       88.6      168.8  ...          27  16500.0      12931.296639
3               1       94.5      171.2  ...          26  16500.0      18376.770367
4               2       99.8      176.6  ...          30  13950.0      12508.100770
5               2       99.4      176.6  ...          22  17450.0      16361.689221

[5 rows x 16 columns]