<a href="https://colab.research.google.com/github/arijitd60/arijitd60/blob/main/Linear%20Reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = {"Germany": "85 Million", "UK": "200 Million"}
x ["Germany"]

'85 Million'

Import Modules

In [18]:
import pandas as pd
import sklearn.model_selection
import sklearn.linear_model
import sklearn.metrics

Loading Dataset

In [4]:
df = pd.read_csv("housing.csv")
df = df.set_index("id")
df.head()

       price  area  bedrooms  ...  parking  prefarea  furnishingstatus
id                            ...
0   13300000  7420         4  ...        2         1               1.0
1   12250000  8960         4  ...        3         0               1.0
2   12250000  9960         3  ...        2         1               0.5
3   12215000  7500         4  ...        3         1               1.0
4   11410000  7420         4  ...        2         0               1.0

[5 rows x 13 columns]

Splitting train and test sets

In [12]:
x = df.drop(["price"], axis=1)
y = df["price"]
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size=0.2)
print("df = ", df.shape)
print("x_train = ", x_train.shape)
print("x_test = ", x_test.shape)
print("y_train = ", y_train.shape)
print("y_test = ", y_test.shape)

df =  (545, 13)
x_train =  (436, 12)
x_test =  (109, 12)
y_train =  (436,)
y_test =  (109,)

Training a Linear Regression Model

In [15]:
model = sklearn.linear_model.LinearRegression()
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Testing our Trained Linear Regression model

In [19]:
y_predicted = model.predict(x_test)
mse = sklearn.metrics.mean_squared_error(y_test, y_predicted)
mse

987415650228.8698

Store Predictions

In [20]:
y_predicted = model.predict(x)
df["Predicted Prices"] = y_predicted
df.head()

       price  area  bedrooms  ...  prefarea  furnishingstatus  Predicted Prices
id                            ...
0   13300000  7420         4  ...         1               1.0      8.153966e+06
1   12250000  8960         4  ...         0               1.0      1.051970e+07
2   12250000  9960         3  ...         1               0.5      7.509609e+06
3   12215000  7500         4  ...         1               1.0      8.424356e+06
4   11410000  7420         4  ...         0               1.0      6.807894e+06

[5 rows x 14 columns]